{% extends 'bootstrap5/bootstrap5.html' %}

{% load bootstrap5 %}
{% load mptt_tags %}
{% load static %}

{% block bootstrap5_title %}Moje Konto{% endblock %}

{% block bootstrap5_content %}

    {% include 'navbar.html' %}

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6">
                <h4>Twoje dane</h4>

                <ul class="list-group mt-2 mb-4">
                    <li class="list-group-item">Użytkownik:
                        {{ user.get_username }}</li>
                    <li class="list-group-item">E-mail:
                        {{ user.email|default:'-' }}</li>
                </ul>

                <h4>Menu:</h4>

                <ul class="list-group list-group-flush mt-2">
                    <li class="list-group-item"><a href="{% url 'user_orders' %}">Twoje zamówienia</a></li>
                    <li class="list-group-item"><a href="{% url 'account_email' %}">Zmień e-mail</a></li>
                    <li class="list-group-item"><a href="{% url 'account_change_password' %}">Zmien hasło</a></li>
                    <li class="list-group-item"><a href="{% url 'account_logout' %}">Wyloguj</a></li>
                </ul>

            </div>
        </div>
    </div>
    <br>

    {% include 'footer.html' %}

{% endblock %}