{% load static %}

{% block bootstrap5_extra_head %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

<nav class="navbar sticky-top bg-body-tertiary navbar-expand-lg bg-body-tertiary navbar-dark bg-dark p-0">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo1.png' %}" alt="logo"
                                                              width="200" height="40"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-uppercase fs-6" href="#">Szlaki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-uppercase fs-6" href="#">Galeria</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-lg-0 mx-3 ">
                    <li class="nav-item">
                        <a class="nav-link active text-uppercase fs-6" href="#">moje konto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-uppercase fs-6" href="#">zamówienia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-uppercase fs-6" href="#">KOSZYK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-uppercase fs-6" href="#">Zaloguj</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-uppercase fs-6" href="#">Zarejestruj</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>