{% extends 'bootstrap5/bootstrap5.html' %}

{% load bootstrap5 %}
{% load mptt_tags %}
{% load static %}

{% block bootstrap5_title %}Zmiana hasła{% endblock %}

{% block bootstrap5_content %}

    {% include 'navbar.html' %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 class="text-center">Zmień hasło</h2>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}

                    <div class="mb-3 mt-3">
                        <label for="id_old_password" class="form-label">Aktualne hasło</label>
                        <input type="password" class="form-control" id="id_old_password" name="old_password" required>
                    </div>

                    <div class="mb-3">
                        <label for="id_new_password1" class="form-label">Nowe hasło</label>
                        <input type="password" class="form-control" id="id_new_password1" name="new_password1" required>
                    </div>

                    <div class="mb-3">
                        <label for="id_new_password2" class="form-label">Potwierdź nowe hasło</label>
                        <input type="password" class="form-control" id="id_new_password2" name="new_password2" required>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-3">Zmień hasło</button>
                        <a href="{% url 'account_reset_password' %}" class="btn btn-link mt-3">Zapomniałeś hasła?</a>
                    </div>
                </form>

            </div>
        </div>
    </div>

    {% include 'footer.html' %}

{% endblock %}