body {
    font-family: 'Roboto', sans-serif;
}

.navbar-nav > li{
  padding-left:7px;
  padding-right:7px;
}

.root-in-product{
    color: black;
    font-size: 11px;
}

.root-in-product:hover{
    color: firebrick;
}

.product-in-root-product{
    color: firebrick;
    font-size: 11px;
}

.product-in-root-product:hover{
    color: firebrick;
}

.price-font{
    color: #dc5d01;
    font-weight: bold;
    font-size: 18px;
}

html {
  position: relative;
  min-height: 100%;
  padding-bottom:160px;
}
body {
  margin-bottom: 80px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.form-check-input:checked{
    background-color: #198754;
    border-color: #198754;
  }

.unverified{
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.primary{
    color: #198754;
    font-size: 16px;
    font-weight: bold;
}